


 /* Header Start */

 :root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #4cb4b9;
    --color-black-1: #20d4b6;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
   
  }
  
  .logo {
    color: var(--color-white);
    font-size: 30px;
  }
  
  .logo span {
    color: var(--color-primary);
  }
  
  .menu-bar {
    background-color: var(--color-black);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .dropdown-menu-1 {
    display: none;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }



/* End of Header */

body{
    background: linear-gradient(#B7C4CF,#25316D);
    overflow: hidden;
}
.container{
    width: 95%;
    height: 84vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 380px;
    margin: auto;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 15px 15px 20px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

#userInput{
    box-sizing: border-box;
    width: 100%;
    padding: 40px 5px;
    background: whitesmoke;
    text-align: right;
    direction: 1tr;
    outline: none;
    border: none;
}

.btn{
    width: 24%;
    height: 45px;
    border-radius: 2px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: rgba(247, 46, 46, 0.333);
}

.btnEqual{
    width: 99.5%;
    height: 45px;
    border-radius: 2px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: rgba(247, 46, 46, 0.333);

}
.btn:hover, .btnEqual:hover{
    background-color: chartreuse;
}

@media(max-width:480px){
    .btn{
        width: 23.4%;
    }
}

@media(max-width:320px){
    .btn{
        width: 23%;
    }
}


/* footer start */
footer{
    background: #4cb4b9;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}.icon:hover {
    outline-offset: 4px;
}.icon:hover i {
    animation: shake .25s;
}.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}.icon--skype:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}.icon--facebook:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}.copyright{
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: bisque;
    font-size: 1.5rem;
    /* margin-top: 10px; */
}

@media(max-width:1024px) {
    .icon{
        width: 50px;
        height: 50px;
    }
    .copyright{
        font-size: 1.5rem;
    }
}
@media(max-width:768px) {
    .icon{
        width: 22px;
        height: 22px;
        font-size: 15px;
    }
    .copyright{
        font-size: 1.3rem;
    }
}
@media(max-width: 480px) {
    .icon{
        width: 22px;
        height: 22px;
        }
    .copyright{
        font-size: 1.5rem;
        }
    
.footer-class{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 320px){
    .copyright{
        font-size: 1.3rem;
    }
}
/* footer end */